<div id="alert">
    <div class="alert alert-danger mail_driver_smtp d-none" >
        Your SMTP settings is incorrect. Please update to send mails.                                    
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class="d-block">Mail Driver</label>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="mail_driver_checkbox" name="mail_driver" class="custom-control-input" value="mail" :checked="email[0].mail_driver === 'mail'" >
                <label class="custom-control-label" for="mail_driver_checkbox">Mail</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="mail_driver_smtp_checkbox" name="mail_driver" class="custom-control-input" value="smtp"  :checked="email[0].mail_driver === 'smtp'" >
                <label class="custom-control-label" for="mail_driver_smtp_checkbox">SMTP</label>
            </div>
        </div>
    </div>
</div>
<div class="row mail_driver_smtp" >
    <div class="col-md-12">
        <div class="form-group">
            <label class="control-label">Mail Host</label>
            <input type="text" id="mail_host" name="mail_host" class="form-control" v-bind:value="email[0].mail_host">
            <input type="hidden" id="mail_id" name="mail_id" class="form-control" v-bind:value="email[0].id">
        </div>
    </div>
</div>
<div class="row mail_driver_smtp" >
    <div class="col-md-12">
        <div class="form-group">
            <label class="control-label">Mail Port</label>
            <input type="text" id="mail_port" name="mail_port" class="form-control" v-bind:value="email[0].mail_port">
        </div>
    </div>
</div>
<div class="row mail_driver_smtp" >
    <div class="col-md-12">
        <div class="form-group">
            <label class="control-label">Mail Username</label>
            <input type="text" id="mail_username" name="mail_username" class="form-control" v-bind:value="email[0].mail_username">
        </div>
    </div>
</div>
<div class="row mail_driver_smtp" >
    <div class="col-md-12">
        <div class="form-group">
            <label class="control-label">Mail Password</label>
            <input type="password" id="mail_password" name="mail_password" class="form-control" v-bind:value="email[0].mail_password">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class="control-label">Mail From Name</label>
            <input type="text" id="mail_from_name" name="mail_from_name" class="form-control" v-bind:value="email[0].mail_from_name">
        </div>
    </div>
</div>
<div class="row mail_driver_mail d-none">
    <div class="col-md-12">
        <div class="form-group">
            <label class="control-label">Mail From Email</label>
            <input type="text" id="mail_from_email" name="mail_from_email" class="form-control" v-bind:value="email[0].mail_from_email">
        </div>
    </div>
</div>
<div class="row mail_driver_smtp" >
    <div class="col-md-12">
        <div class="form-group">
            <label class="control-label">Mail Encryption</label>
            <select id="mail_encryption" name="mail_encryption" class="form-control" v-bind:value="email[0].mail_encryption">
                <option value="tls" >TLS</option>
                <option value="ssl" >SSL</option>
                <option value="null" >None</option>
            </select>
        </div>
    </div>
</div>