{% extends "twilio/layout.html" %}
{% block headScripts%}
<link rel="stylesheet" href="static/vendor/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="static/vendor/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css">
<link rel="stylesheet" href="static/vendor/datatables.net-select-bs4/css/select.bootstrap4.min.css">
<style>
    .custom-form-control{
        border: 0;
        font-size: .875rem;
        height:calc(1.5em + 1.25rem + 5px);
        font-weight: 400;
        line-height: 1.5;
        display: block;
        width: 100%;
        border-radius: .25rem;
        background-color: #3b547c;
        background-clip: padding-box;
        color: #fff;
    }
    .custom-form-control:focus, .custom-form-control:active, .custom-form-control:focus-visible{
        border: 0;
        font-size: .875rem;
        height:calc(1.5em + 1.25rem + 5px);
        font-weight: 400;
        line-height: 1.5;
        display: block;
        width: 100%;
        border-radius: .25rem;
        background-color: #3b547c;
        background-clip: padding-box;
        color: #fff;
        outline: none;
    }
    .custom-form-control::placeholder{
        color: lightgray !important;
    }
    .bg-lightdefault{
        background-color: #3b547c;
        border-color: #172b4d !important;
    }
    .custom-field-set{
        height: 51px;
        overflow:hidden;
    }
    .custom-field-set .col-3{
        text-align: right;
    }
    .dataTables_wrapper {
        width: 100%;
        margin-top: 2rem;
    }
    .sq-card-message{
        color:#f5365c !important;
    }
    .sq-card-wrapper .sq-card-message-no-error::before{
        background-color: #f5365c !important;
    }
    .card-tab{
        padding-top: .5em;
        padding-bottom: .5em;
    }
    .card-tab:hover{
        cursor: pointer;
    }
    .card-tab.active{
        background-color: #142540 !important;
        color: white !important;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border: 1px solid #101d32;
        border-bottom: none;
    }
    .card-tab-body{
        background-color: #142540;
        border: 1px solid #101d32!important;
    }
</style>
<script src="static/js/squareToken.js?v=1.3.11.2"></script>
<script type="text/javascript" src="https://sandbox.web.squarecdn.com/v1/square.js"></script>
{% endblock %}
{% block body %}
<!-- Header -->
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Billing</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header border-0" id="lead-import-card">
                <div class="row align-items-center">
                    <div class="col">
                        <h3 class="mb-0">Wallet</h3>
                        <hr>
                    </div>
                </div>
                <div class="card-body">
                    <div id="wallet-summary-body-loading" style="display: none;">
                        <center>
                            <img src="/static/img/spinner.svg" width="100px">
                            <i>Billing</i>
                        </center>
                    </div>
                    <div class="row justify-content-center text-center mt-4" id="wallet-summary-body" style="display: none;">
                        <input type="hidden" value="{{session['user']['company_id']}}" id="company-body">
                        <div class="col-12">Current Balance</div>
                        <div class="col-12">
                            <h1 class="text-success display-1">$[[ formatMoney(details.balance) ]]</h1>
                        </div>
                        <div class="col-12">
                            <a href="#" class="btn btn-success" data-toggle="modal" data-target="#add-funds">Add Funds</a>
                        </div>
                    </div>
                    <div class="row justify-content-center text-center mt-4" id="wallet-transaction-body" style="display: none;">
                        <table class="table align-items-center table-flush" id="wallet-transaction-table">
                            <thead>
                                <th>ID</th>
                                <th>Type</th>
                                <th>Amount</th>
                                <th>Memo</th>
                                <th>Created At</th>
                                <th>Updated</th>
                            </thead>
                            <tbody>
                                <tr v-for="transaction in transactions">
                                    <td>[[ transaction.id ]]</td>
                                    <td>
                                        <span v-if="transaction.type == 'paid'" class="badge badge-success">[[ transaction.type ]]</span>
                                        <span v-else class="badge badge-danger">[[ transaction.type ]]</span>
                                    </td>
                                    <td>$[[ formatMoney(transaction.amount) ]]</td>
                                    <td>[[ returnDash(transaction.memo) ]]</td>
                                    <td>[[ formatDateTime(transaction.created_at) ]]</td>
                                    <td>[[ formatDateTime(transaction.created_at) ]]</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="add-funds" tabindex="-1" role="dialog" aria-labelledby="modal-notification" aria-hidden="true">
    <div class="modal-dialog modal modal-default modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="modal-title-notification"></h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="py-3 text-center" id="payment-body-square">
                    <div class="col-12">
                        <i class="ni ni-credit-card ni-3x"></i>
                    </div>
                    <div class="row border-bottom mt-4">
                        <div class="col-6 card-tab active" data-target="#square-create-card-body">
                            <b>Create a Card</b>
                        </div>
                        <div class="col-6 card-tab" data-target="#square-select-card-body">
                            <b>Choose Saved Card</b>
                        </div>
                    </div>
                    <div id="square-create-card-body" class="row card-tab-body">
                        <div class="col-12 mt-4" style="text-align: left;">
                            <label>Card Details</label>
                            <form id="payment-form mt-4">
                                <div id="card-container"></div>
                            </form>
                        </div>
                        <div class="col-12" style="text-align: left;">
                            <label>Save Card</label>
                            <input type="checkbox" id="square-save-card">
                        </div>
                    </div>
                    <div id="square-select-card-body" class="row card-tab-body d-none">
                        <fieldset id="square-group-1" class="col-12">
                            <div class="row border-bottom" style="text-align: left; border-color: #101d32!important;" v-for="coff in coffs">
                                <div class="col-3" style="padding-top: 12px;">
                                    <img v-bind:src="getCardImage(coff.card_brand)" width="50">
                                </div>
                                <div class="col-6" style="padding-top: 12px;">
                                    <p class="mb-0"><b>[[coff.card_type]]</b></p>
                                    <p class="">Ending in [[coff.last_4]]</p>
                                </div>
                                <div class="col-3" style="padding-top: 22px;">
                                    <input type="radio" class="square-payment-coff" name="square-group-1" v-bind:card-id="coff.square_card_id">
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-12 mt-2" style="text-align: left;">
                        <label>Amount</label>
                        <input class="form-control" type="number" placeholder="Amount" id="square-amount">
                    </div>
                </div>
                <center><img src="/static/img/spinner.svg" width="100px" id="square-loading-bar" style="display: none;"></center>
            </div>
            <div class="modal-footer">
                <button id="card-button" type="button" class="btn btn-success">Add Funds</button>
                <button type="button" class="btn btn-link text-gray ml-auto" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
<script src="static/js/vueJS/wallet.js?v=1.3.11.2"></script>
{% endblock %}