{% extends "twilio/layout.html" %}
{% block headScripts%}
<link rel="stylesheet" href="static/vendor/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="static/vendor/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css">
<link rel="stylesheet" href="static/vendor/datatables.net-select-bs4/css/select.bootstrap4.min.css">
{% endblock %}
{% block body %}
<!-- Header -->
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Campaign Breakdown Cost</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-xl-12">
            <div class="card" id="call-history-body">
                <div class="card-header border-0">
                </div>
                <div class="table-responsive">
                    <div id="filters" class="row justify-content-center text-center bg-white p-4">
                        <div class="row col-12">
                            <div class="col-5">
                                <label for="campaign-body" style="float: left;">Campaign:</label>
                                <center><img src="/static/img/spinner.svg" id="campaign-body-loading" width="100px"></center>
                                <select style="display: none;" class="form-control select2 select2-hidden-accessible mt-2 lead-campaigns" id="campaign-body" name="campaign-body" tabindex="-1" aria-hidden="true" value="{{campaign}}">
                                    <option value="">Select Campaign...</option>
                                    <option v-for="campaign in campaigns" v-bind:value="campaign.id">[[ campaign.name ]]</option>
                                </select>
                            </div>
                            <div class="col-lg-2">
                                <label for="from-date" style="float: left;">From:</label>
                                <input class="form-control" id="from-date" name="from-date" type="date">
                            </div>
                            <div class="col-lg-2">
                                <label for="to-date" style="float: left;">To:</label>
                                <input class="form-control" id="to-date" name="to-date" type="date">
                            </div>
                            <div class="col-lg-3">
                                <label>&nbsp;</label><br>
                                <button class="btn btn-primary" id="campaign-filter-report">Search</button>
                            </div>
                        </div>
                    </div>
                    <center><img src="/static/img/spinner.svg" id="cost-breakdown-report-loading" style="display: none;" width="100px"></center>
                    <table class="table align-items-center table-flush" id="cost-breakdown-report" sort-col="9" sort-style="desc" page-length="100">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Call Amount</th>
                                <th scope="col">Time Taken</th>
                                <th scope="col">Cost</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for='campaign in costBreakdown'>
                                <td>[[ formatNiceDate(campaign.entry_date) ]]</td>
                                <td>[[ formatMoney(campaign.num_calls, 0) ]] Calls</td>
                                <td>[[ formatMoney(campaign.time_taken, 0) ]] Minutes</td>
                                <td>$[[ formatMoney(campaign.charge_amount) ]]</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer border-0">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination" id="leads-table-pagination" style="float: right;">
                        <li class="page-item"><a class="page-link" href="#">&lt;&lt;</a></li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">&gt;&gt;</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="static/vendor/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="static/vendor/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="static/vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="static/vendor/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="static/vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="static/vendor/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="static/vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="static/vendor/datatables.net-select/js/dataTables.select.min.js"></script>
<script src="static/js/vueJS/campaigns.js?v=1.3.11.1"></script>
<script>
    updateCampaigns(true, false, false);
    </script>
<script src="static/js/vueJS/campaigncostbreakdown.js?v=1.3.11.1"></script>
{% endblock %}