{% extends "twilio/layout.html" %}
{% block headScripts%}
<link rel="stylesheet" href="static/vendor/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="static/vendor/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css">
<link rel="stylesheet" href="static/vendor/datatables.net-select-bs4/css/select.bootstrap4.min.css">

<style>
    .dispo-check{
        margin-top: 5px;
        margin-right: 5px;
    }
</style>
{% endblock %}
{% block body %}
<!-- Header -->
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Leads</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header border-0">
                <div class="row align-items-center">
                    <div class="col">
                        <b>Forms</b>
                        <div class="col-xl-12" id="form-builder-loading">
                            <center><img src="/static/img/spinner.svg" id="forms-loading" width="100px"></center>
                        </div>
                        <select style="display: none;" class="form-control select2 select2-hidden-accessible mt-2 form-builder" id="form-builder" tabindex="-1" aria-hidden="true" value="{{campaign}}">
                            <option value="">Select Form...</option>
                            <option v-for="form in forms" v-bind:value="form.id">[[ form.form_name ]]</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <div class="table-responsive" id="field-mapping-wrapper" style="display: none;">
                    <!-- Projects table -->
                    <table class="table align-items-center table-flush border-bottom" sort-col="9" sort-style="desc" page-length="100" id="field-mapping-table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">CSV Field</th>
                                <th scope="col">Form Field</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody id="form-body">
                            <tr v-for='(key, value, index) in field_mappings'>
                                <td>
                                    <input class="form-control selected_field_csv" placeholder="CSV Field" v-bind:value="value">
                                </td>
                                <td>
                                    <select class="form-control selected_field_form">
                                        <option value="IGNORED" selected disabled>Please Select a Field</option>
                                        <option v-for="set_field in fields" v-bind:value="set_field.field_name" :selected="key == set_field.field_name">[[ set_field.field_name ]]</option>
                                    </select>
                                </td>
                                <td>
                                    <button class="btn btn-danger btn-icon icon-left delete-field-mapping" v-bind:index="index"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="col mt-4 mb-4">
                        <a class="btn btn-default text-white" id="add-field-mapping">+ Add Field</a>
                    </div>
                    <div class="col mt-4 mb-4" style="text-align: right;">
                        <a class="btn btn-success text-white" id="save-field-mapping">Save</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="static/vendor/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="static/vendor/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="static/vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="static/vendor/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="static/vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="static/vendor/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="static/vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="static/vendor/datatables.net-select/js/dataTables.select.min.js"></script>
<script src="static/js/vueJS/formbuilder.js?v=1.3.11.4"></script>
{% endblock %}