{% extends "vicidial/layout.html" %}
{% block headScripts%}
{% endblock %}
{% block body %}
<!-- Header -->
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Import Caller IDs</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div id="lead-import-loading" style="display: none;">
                <center>
                    <img src="/static/img/spinner.svg" width="100px">
                    <i>Importing Leads</i>
                </center>
            </div>
            <div class="card-header border-0" id="lead-import-card">
                <div class="row align-items-center">
                    <div class="col">
                        <h3 class="mb-0">Import Caller IDs To Campaign</h3>
                        <p>Choose whether to upload your caller IDs OR copy and paste them from Microsoft excel. We'll automatically remove duplicate entries for you and help you sort the data in the next step.</p>
                        <hr>
                    </div>
                </div>
                <div class="card-body accordion" id="accordionExample">
                    <div class="form-group row mb-4">
                        <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Select Campaign</label>
                        <div class="col-sm-12 col-md-8">
                            <select class="form-control select2 select2-hidden-accessible" id="campaign-body" name="campaign-body" tabindex="-1" aria-hidden="true">
                                <option value="">Select Campaign...</option>
                                {% for campaign in campaigns %}<option value="{{campaign.id}}">{{ campaign.name }}</option>{% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group row mb-4 d-none">
                        <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Select Import Type</label>
                        <div class="col-sm-12 col-md-5">
                            <div class="selectgroup w-100">
                                <ul class="nav nav-tabs border-0">
                                    <li class="active"><a data-toggle="tab" class="btn btn-primary active" href="#home">By Text</a></li>
                                    <li><a data-toggle="tab" class=" ml-4 btn btn-primary" href="#menu1">By CSV File</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content">
                        <center>
                            <div id="home" class="tab-pane fade in active d-none">
                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Copy/Paste from excel or TXT file</label>
                                <div class="col-sm-12 col-md-8">
                                    <textarea class="form-control" id="import_text" name="import_text" style="height: auto;"></textarea>
                                </div>
                            </div>
                            <div id="menu1" class="tab-pane fade show">
                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Upload CSV File</label>
                                <div class="col-sm-12 col-md-8">
                                    <input class="form-control" type="file" id="import_file" name="import_file" accept=".csv">
                                </div>
                                <div class="col-sm-12 mt-4">
                                    <center><a href="#" id="importCSV" class="btn btn-primary">Process CSV Data</a></center>
                                </div>
                            </div>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="static/js/vueJS/campaigns.js?v=1.3.11.1"></script>
<script src="static/js/vueJS/callerids.js?v=1.3.11.1"></script>
{% endblock %}