{% extends "layout.html" %}
{% block headScripts%}
<link rel="stylesheet" href="static/vendor/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="static/vendor/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css">
<link rel="stylesheet" href="static/vendor/datatables.net-select-bs4/css/select.bootstrap4.min.css">
{% endblock %}
{% block body %}
<!-- Header -->
<div class="header bg-primary pb-6">
  <div class="container-fluid">
      <div class="header-body">
          <div class="row align-items-center py-4">
              <div class="col-lg-6 col-7">
                  <h6 class="h2 text-white d-inline-block mb-0">Call History</h6>
              </div>
          </div>
          
          <div class="card col-12 p-4" id="step-1">
            <b>Campaign</b>
            <select class="form-control select2 select2-hidden-accessible mt-2 lead-campaigns" id="campaign-body" name="campaign-body" tabindex="-1" aria-hidden="true" value="{{campaign}}">
                <option value="">Select Campaign...</option>
                {% for campaign in campaigns %}<option value="{{campaign.id}}">{{ campaign.name }}</option>{% endfor %}
            </select>
          </div>
          <!-- Card stats -->
          <center><img src="/static/img/spinner.svg" id="company-lead-summary-loading" width="100px"></center>
          <div class="row" id="company-lead-summary" style="display: none;">
            <div class="col-xl-3 col-md-6">
                <div class="card card-stats">
                    <!-- Card body -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title text-uppercase text-muted mb-0">Total Leads</h5>
                                <span class="font-weight-bold mb-0">[[ summary.total_leads ]]</span>
                            </div>
                            <div class="col-auto">
                                <div class="icon icon-shape bg-orange text-white rounded-circle shadow">
                                    <i class="ni ni-mobile-button"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card card-stats">
                    <!-- Card body -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title text-uppercase text-muted mb-0">Remaining Leads</h5>
                                <span class="font-weight-bold mb-0">[[ summary.total_unactioned ]]</span>
                            </div>
                            <div class="col-auto">
                                <div class="icon icon-shape bg-orange text-white rounded-circle shadow">
                                    <i class="ni ni-mobile-button"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
              <div class="col-xl-3 col-md-6">
                  <div class="card card-stats">
                      <!-- Card body -->
                      <div class="card-body">
                          <div class="row">
                              <div class="col">
                                  <h5 class="card-title text-uppercase text-muted mb-0">Calls Made</h5>
                                  <span class="font-weight-bold mb-0">[[ summary.total_leads - summary.total_unactioned ]]</span>
                              </div>
                              <div class="col-auto">
                                  <div class="icon icon-shape bg-green text-white rounded-circle shadow">
                                      <i class="ni ni-money-coins"></i>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xl-3 col-md-6">
                  <div class="card card-stats">
                      <!-- Card body -->
                      <div class="card-body">
                          <div class="row">
                              <div class="col">
                                  <h5 class="card-title text-uppercase text-muted mb-0">Total Duration</h5>
                                  <span class="font-weight-bold mb-0">[[ getTimeFormat(summary.time_taken) ]]</span>
                              </div>
                              <div class="col-auto">
                                  <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                                      <i class="ni ni-chart-bar-32"></i>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
            <center><img src="/static/img/spinner.svg" id="lead-summary-loading" width="100px"></center>
            <div class="row" id="lead-summary" style="display: none;">
              <div class="col-12">
                  <div class="card">
                      <div class="card-header border-0">
                          <div class="row align-items-center">
                              <div class="col">
                                  <h3 class="mb-0">Dispositions</h3>
                              </div>
                          </div>
                      </div>
                        <table class="table align-items-center table-flush">
                          <thead class="thead-light">
                            <th>Disposition</th>
                            <th>Total</th>
                          </thead>
                          <tbody>
                            <tr v-for="disposition in summary.dispositions">
                              <td>[[ disposition.name ]]</td>
                              <td>[[ disposition.total ]]</td>
                            </tr>
                          </tbody>
                        </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
<div class="row">
    <div class="col-xl-12">
        <div class="card" id="call-history-body">
            <div class="card-header border-0">
                <div class="row align-items-center">
                    <div class="col">
                        <h3 class="mb-0">Call History</h3>
                    </div>
                    <div class="col" style="text-align: right;">
                        <a href="#" id="export-history" class="btn btn-primary">Export History</a>
                    </div>
                </div>
            </div>
            <div class="table-responsive mt-4">
                <!-- Projects table -->
                <div class="row col-12 d-none">
                    <div class="col">
                        <label for="disposition">Disposition</label>
                        <select class="form-control" id="disposition" name="disposition">
                            <option value="busy">busy</option>
                            <option value="completed">completed</option>
                            <option value="failed">failed</option>
                            <option value="in-progress">in-progress</option>
                            <option value="no-answer">no-answer</option>
                            <option value="queued">queued</option>
                            <option value="ringing">ringing</option>
                            <option value="unactioned">unactioned</option>
                            <option value="unreachable">unreachable</option>
                            <option value="voicemail">voicemail</option>
                        </select>
                    </div>
                    <div class="col">
                        <label for="fromDT">Disposition</label>
                        <input class="form-control" type="datetime">
                    </div>
                    <div class="col">
                        <label for="toDT">Disposition</label>
                        <input class="form-control" type="datetime">
                    </div>
                </div>
                <div class="row justify-content-center text-center" id="filters">
                    <div class="row col-12">
                        <div class="col-lg-2">
                            <label for="from-date" style="float: left;">From:</label>
                            <input class="form-control" id="from-date" name="from-date" type="date">
                        </div>
                        <div class="col-lg-2">
                            <label for="to-date" style="float: left;">To:</label>
                            <input class="form-control" id="to-date" name="to-date" type="date">
                        </div>
                        <div class="col-lg-2">
                            <label for="lead-status" style="float: left;">Status:</label>
                            <select class="form-control" id="lead-status">
                                <option value="none">- Status -</option>
                                <option value="busy">Busy</option>
                                <option value="calling">Calling</option>
                                <option value="completed">Completed</option>
                                <option value="failed">Failed</option>
                                <option value="in-progress">In Progress</option>
                                <option value="no-answer">No Answer</option>
                                <option value="queued">Queued</option>
                                <option value="ringing">Ringing</option>
                                <option value="unactioned">Unactioned</option>
                                <option value="unreachable">Unreachable</option>
                                <option value="voicemail">Voicemail</option>
                            </select>
                        </div>
                        <div class="col-lg-2">
                            <label for="lead-interested" style="float: left;">Interested:</label>
                            <select class="form-control" id="lead-interested">
                                <option value="none">- interest -</option>
                                <option value="1">Interested</option>
                                <option value="0">Uninterested</option>
                            </select>
                        </div>
                        <div class="col-lg-3">
                            <label>&nbsp;</label><br>
                            <button class="btn btn-primary" id="lead-filter-report">Search</button>
                        </div>
                    </div>
                </div>
                <center><img src="/static/img/spinner.svg" id="lead-table-loading" width="100px"></center>
                <table class="table align-items-center table-flush mt-4" id="lead-table" style="display: none;" sort-col="9" sort-style="desc" page-length="100">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Reference Number</th>
                            <th scope="col">Last Disposition</th>
                            <th scope="col">Interested</th>
                            <th scope="col">Contact Person</th>
                            <th scope="col">Call Details</th>
                            <th scope="col" class="d-none">Campaign</th>
                            <th scope="col" class="d-none">Calling Agent</th>
                            <th scope="col">Actions</th>
                            <th scope="col" class="d-none">DateTime</th>
                        </tr>
                    </thead>
                    <tbody id="leads-body">
                        <tr v-for='lead in leads'>
                            <td tabindex="0">[[ lead.id ]]</td>
                            <td>[[ returnDash(lead.reference_number) ]]</td>
                            <td>[[ returnDash(lead.status) ]]</td>
                            <td>
                                <span v-if="lead.interested == 'interested'" class="badge badge-success">Interested</span>
                                <span v-else-if="lead.interested == 'not_interested'" class="badge badge-danger">Not Interested</span>
                                <span v-else>[[ returnDash(lead.interested) ]]</span>
                            </td>
                            <td>[[ returnDash(lead.First_Name) ]] [[ lead.Last_Name ]]</td>
                            <td>
                                <p><i class="fa fa-stopwatch"></i> [[ lead.time_taken ]] s<br>
                                    <i class="fa fa-calendar"></i> [[ formatNiceDateTime(lead.updated_at) ]]<br></p>
                            </td>
                            <td class="d-none">[[ lead.campaign_name ]]</td>
                            <td class="d-none">[[ returnDash(lead.agent_first_name) ]] [[ lead.agent_last_name ]]</td>
                            <td>
                                <div class="dropdown d-inline">
                                    <button class="btn btn-primary dropdown-toggle" id="lead-action" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Action / Recordings
                                    </button>
                                    <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 27px, 0px); top: 0px; left: 0px; will-change: transform;">
                                        <a class="dropdown-item has-icon lead-call" v-bind:lead-id="lead.id" v-bind:campaign-id="lead.campaign_id" v-bind:reference="lead.reference_number" href="#" ><i class="fa fa-phone"></i> Call Lead</a>
                                        <a class="dropdown-item has-icon sidebar-toggle lead-details" v-bind:lead-id="lead.id" v-bind:campaign-id="lead.campaign_id" href="#lead-details" ><i class="fa fa-eye"></i> View Lead Info</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item has-icon" href="javascript:void(0);" onclick="deleteLead('9622f74f4c9736349370a89256c4c8b2')"><i class="fa fa-trash"></i> Delete Lead</a>
                                    </div>
                                </div>
                            </td>
                            <td class="d-none">[[ returnDash(formatDateTime(lead.updated_at)) ]]</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer border-0">
                <nav aria-label="Page navigation example">
                    <ul class="pagination" id="leads-table-pagination" style="float: right;">
                      <li class="page-item"><a class="page-link" href="#">&lt;&lt;</a></li>
                      <li class="page-item active"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">&gt;&gt;</a></li>
                    </ul>
                  </nav>
            </div>
        </div>
    </div>
</div>
<div class="sidebar-modal" id="lead-details">
    <div class="sidebar-transparent"></div>
    <div class="sidebar-content bg-white shadow shadow-lg p-4">
        <div class="sidebar-header">
            <b class="mt-4">Basic Details</b>
            <hr>
            <div class="row">
                <div class="col-6">
                    <p>Campaign</p>
                </div>
                <div class="col-6">
                    <p>[[ details.campaign_name ]]</p>
                </div>
                <div class="col-6">
                    <p>Last Actioned By</p>
                </div>
                <div class="col-6">
                    <p> - </p>
                </div>
                <div class="col-6">
                    <p>Book Appointment</p>
                </div>
                <div class="col-6">
                    <p> [[ details.appointment_booked ]] </p>
                </div>
                <div class="col-6">
                    <p>Call Duration</p>
                </div>
                <div class="col-6">
                    <p>[[ returnDash(details.time_taken) ]]</p>
                </div>
                <div class="col-6">
                    <p>Interested</p>
                </div>
                <div class="col-6">
                    <p>[[ returnDash(details.interested) ]]</p>
                </div>
            </div>
            <br>
            <b class="mt-4">Lead Data Info</b>
            <hr>
            <div class="row">
                <div class="col-6">
                    <p>ID</p>
                </div>
                <div class="col-6">
                    <p>[[ returnDash(details.id) ]]</p>
                </div>
            </div>
            <div class="row" v-for="detail in details.lead_data">
                <div class="col-6">
                    <p>[[detail.field_name]]</p>
                </div>
                <div class="col-6">
                    <p>[[ returnDash(detail.field_value) ]]</p>
                </div>
            </div>
            <br>
            <b class="mt-4">Call History</b>
            <hr>
            <div class="row" v-for="recording in details.call_logs">
                <div class="col-6">
                    <i class="fa fa-calendar"></i> [[formatNiceDateTime(recording.updated_at)]]
                </div>
                <div class="col-6">
                    <a v-bind:href="recording.recording_link" target="_blank"><i class="fa fa-stopwatch"></i> [[ recording.time_taken ]] S</a>
                </div>
            </div>
            <br>
            <span v-if="details.call_recordings">
                <b class="mt-4">Call Recordings</b>
                <hr>
                <div class="row" v-for="recording in details.call_recordings">
                    <div class="col-6">
                        <i class="fa fa-calendar"></i> [[formatNiceDateTime(recording.updated_at)]]
                    </div>
                    <div class="col-6">
                        <a v-bind:href="recording.recording_link" target="_blank">Recording</a>
                    </div>
                </div>
            </span>
            <div style="width: 50px; height: 100px;">&nbsp;</div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/material.js"></script>
<script src="static/vendor/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="static/vendor/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="static/vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="static/vendor/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="static/vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="static/vendor/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="static/vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="static/vendor/datatables.net-select/js/dataTables.select.min.js"></script>
<script src="static/js/vueJS/campaigns.js?v=1.3.8.7"></script>
<script src="static/js/vueJS/leadcompanysummary.js?v=1.3.7.6"></script>
<script src="static/js/vueJS/leadsummary.js?v=1.3.7.6"></script>
<script src="static/js/vueJS/leads.js?v=1.3.8.7"></script>
<script src="static/js/tour.js"></script>
<script>
  var steps = [
    {
        "id":"step-1",
        "prev":"/",
        "next":"#",
        "text":"This selector allows you to view campaign specific information"
    },
    {
        "id":"company-lead-summary",
        "prev":"#",
        "next":"#",
        "text":"Gives you breakdown of how many total leads are in a campaign, how much are remaining, how many calls made, and the total call length"
    },
    {
        "id":"lead-summary",
        "prev":"#",
        "next":"#",
        "text":"A table that displays all the statuses of your calls made"
    },
    {
        "id":"call-history-body",
        "prev":"#",
        "next":"#",
        "text":"This table lists all your of your leads"
    },
    {
        "id":"filters",
        "prev":"#",
        "next":"#",
        "text":"These filters allow you to get a better breakdown of your calls"
    },
    {
        "id":"lead-action",
        "prev":"#",
        "next":"#",
        "text":"Clicking this will give you the option to see specific lead information, dial the customer, view call recordings, and delete the lead if necessary"
    }
  ];
</script>
  
{% if session['user']['tour_complete'] == False %}
<script>
  initializeIntro();
</script>
{% endif %}
{% endblock %}