<div id="{{ loading_id }}" class="loading-gif-container" style="{% if display_me=='0' %}display:none;{% endif %}">
    <ul class="loading-gif">
        <li>
            <div class="animate-me"></div>
        </li>
        <li>
            <div class="animate-me"></div>
        </li>
        <li>
            <div class="animate-me"></div>
        </li>
        <li>
            <div class="animate-me"></div>
        </li>
        <li>
            <div class="animate-me"></div>
        </li>
        <li>
            <div class="animate-me"></div>
        </li>
    </ul>
    <div class="text">
        <p style="text-align:center"><b>loading...</b></p>
    </div>
</div>