{% extends "layout.html" %}
{% block body %}
<!-- Header -->
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Settings</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
<div class="row">
    <div class="row col-12">
        <div class="col-xl-3 mt-4">
            <div class="card" id="step-1">
                <div class="card-header border-2">
                    <h2><i class="ni ni-settings-gear-65"></i> Settings</h2>
                </div>
                <ul class="col" style="list-style: none;">
                    <li class="setting-link active mt-2 p-3 col" tab-group="settings" tab-target="tab-company">
                        <a><i class="ni ni-settings-gear-65"></i> Company Settings</a>
                    </li>
                    {% if session['user']['super_admin'] == 0 %}
                        <li class="setting-link mt-2 p-3 col" tab-group="settings" tab-target="tab-profile">
                            <a><i class="ni ni-single-02"></i> Profile Settings</a>
                        </li>
                    {% endif %}
                    <li class="setting-link mt-2 p-3 col" tab-group="settings" tab-target="tab-email">
                        <a><i class="ni ni-email-83"></i> Email Settings</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xl-9 mt-4">
            <div class="card">
                <div class="setting-tab active" tab-parent="settings" id="tab-company">
                    <div class="card-header">
                        <h4 id="step-2">Edit Company Settings</h4>
                    </div>
                    <div class="card-body" id="company-body">
                        {% include "settings/company-settings.html" %}
                    </div>
                </div>
                {% if session['user']['super_admin'] == 0 %}
                <div class="setting-tab" tab-parent="settings" id="tab-profile">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Edit Profile Settings</h3>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="user-body">
                        {% include "settings/profile-settings.html" %}
                    </div>
                </div>
                {% endif %}
                <div class="setting-tab" tab-parent="settings" id="tab-email">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Edit Email Settings</h3>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="email-body">
                        {% include "settings/email-settings.html" %}
                    </div>
                    <div class="card-footer bg-whitesmoke text-md-left">
                        <a href="#" class="btn btn-primary" id="save-email-settings">Save</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="sidebar-modal" id="form-add">
    <div class="sidebar-transparent"></div>
    <div class="sidebar-content bg-white shadow shadow-lg p-4">
        <div class="sidebar-header">
            <h2>Add Form</h2>
            <hr>
            <div class="row">
                <div class="col">
                    <small>Form Name</small>
                    <input type="text" class="form-control" placeholder="Form Name" id="form-name-add"><br>
                </div>
            </div>
            <div class="row justify-content-center">
                <a href="#" class="btn btn-success" id="add-form">+ Add New Form</a>
            </div>
        </div>
    </div>
</div>
<div class="sidebar-modal" id="form-edit">
    <div class="sidebar-transparent"></div>
    <div class="sidebar-content bg-white shadow shadow-lg p-4">
        <div class="sidebar-header">
            <h2>[[ details.form_name ]]</h2>
            <hr>
            <div class="row">
                <div class="col">
                    <small>Campaign Name</small>
                    <input type="text" class="form-control" placeholder="Form Name" v-bind:value="details.form_name" id="edit-form-name"><br>
                    <a href="#" class="btn btn-success" id="save-form">Save Form Name</a>
                </div>
            </div>
            <br>
            <b class="mt-4">Default Fields</b><br>
            <div class="row">
                <div class="col-6" v-for="field in details.default_fields">
                    <input class="default-forms" type="checkbox" v-bind:id="field.field_name" v-bind:name="field.field_name" v-bind:form-id="details.id" :checked="field.field_enabled === true">
                    <label v-bind:for="field.field_name">[[ field.field_name ]]</label>
                </div>
            </div>
            <br>
            <b class="mt-4">Form Fields</b><br>
            <div class="row">
                <ul>
                    <li v-for="field in details.fields" class="row mt-2">
                        <a href="javascript:void(0);" class="btn btn-icon btn-sm btn-danger field-delete" style="float: right;" v-bind:field-id="field.id"><i class="fas fa-trash"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;[[ field.field_name ]]
                    </li>
                </ul>
            </div>
            <div class="row" id="form-edit-new-label-row" style="display: none;">
                <input class="form-control" id="form-edit-new-label" placeholder="New Label"><br>
            </div>
            <a href="#" class="btn btn-success" id="add-label">+ Add New Field</a>
            <div class="row mt-4" id="form-edit-buttons-row" style="display: none;">
                <div class="col">
                    <a href="#" class="btn btn-success" id="save-label">Save</a>
                </div>
                <div class="col">
                    <a href="#" class="btn btn-danger" id="cancel-label">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    var thisCompanyID = "{{ session['user']['company_id'] }}";
    var thisUserID = "{{ session['user']['user_id'] }}";
</script>
<script src="static/js/tabs.js?v=1.3.7.6"></script>
<script src="static/js/vueJS/companies.js?v=1.3.7.6"></script>
<script src="static/js/vueJS/users.js?v=1.3.7.6"></script>
<script>
    getCurrentUser();
</script>
<script src="static/js/vueJS/callsettings.js?v=1.3.7.6"></script>
<script src="static/js/vueJS{% if session['debug'] == False %}/min{% endif %}/emailsettings.js?v=1.3.7.6"></script>
{% endblock %}