
<!-- Page content -->
<div class="container-fluid mt--6">
    
    <div class="row">
        <div class="col">
            <a href="#user-add" id="user-add-btn" class="sidebar-toggle btn btn-info"><span style="font-weight: 1000;">+</span> Add New User</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 mt-4">
            <div class="card">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0 d-none">User</h3>
                        </div>
                    </div>
                </div>
                <div class="table-responsive" style="border-radius: calc(.375rem - 1px) calc(.375rem - 1px) 0 0;">
                    <!-- Projects table -->
                    <div id="user-body-loading" style="display: none;">
                        {% with loading_id='' %}
                        <center>{% include "loading-bars.html" %}</center>
                        {% endwith %}
                    </div>
                    <table class="table align-items-center table-flush" id="user-body" sort-col="1" sort-style="asc" page-length="-1">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Created At</th>
                                <th scope="col">Status</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                            <tr>
                                <td scope="row">{{ user.first_name }} {{ user.last_name }}</td>
                                <td scope="row">{{ user.email }}</td>
                                <td scope="row">{{ user.created_at }}</td>
                                <td>
                                    {% if user.status == 'enabled' %}
                                    <span class="badge badge-success" style="cursor: pointer;" data-toggle="tooltip" data-original-title="Click To Switch Status">Enabled</span>
                                    {% else %}
                                    <span class="badge badge-danger" style="cursor: pointer;" data-toggle="tooltip" data-original-title="Click To Switch Status">Disabled</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <div class="buttons">
                                        <a href="#user-edit" class="sidebar-toggle btn btn-info btn-icon icon-left user-edit" user-id="{{user.id}}" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-edit" aria-hidden="true"></i></a>
                                        {% if user.status != 'enabled' %}
                                        <button class="btn btn-success btn-icon icon-left user-invite" user-id="{{user.id}}"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                                        {% endif %}
                                        <button class="btn btn-danger btn-icon icon-left user-delete" user-id="{{user.id}}" data-toggle="modal" data-target="#user-delete" data-original-title="Delete"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                    </div> 
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0 d-none">User</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>