{% extends "layout-admin.html" %}
{% block headScripts%}
<link rel="stylesheet" href="static/vendor/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="static/vendor/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css">
<link rel="stylesheet" href="static/vendor/datatables.net-select-bs4/css/select.bootstrap4.min.css">
<style>
    .custom-form-control{
        border: 0;
        font-size: .875rem;
        height:calc(1.5em + 1.25rem + 5px);
        font-weight: 400;
        line-height: 1.5;
        display: block;
        width: 100%;
        border-radius: .25rem;
        background-color: #3b547c;
        background-clip: padding-box;
        color: #fff;
    }
    .custom-form-control:focus, .custom-form-control:active, .custom-form-control:focus-visible{
        border: 0;
        font-size: .875rem;
        height:calc(1.5em + 1.25rem + 5px);
        font-weight: 400;
        line-height: 1.5;
        display: block;
        width: 100%;
        border-radius: .25rem;
        background-color: #3b547c;
        background-clip: padding-box;
        color: #fff;
        outline: none;
    }
    .custom-form-control::placeholder{
        color: lightgray !important;
    }
    .bg-lightdefault{
        background-color: #3b547c;
        border-color: #172b4d !important;
    }
    .custom-field-set{
        height: 51px;
        overflow:hidden;
    }
    .custom-field-set .col-3{
        text-align: right;
    }
    .dataTables_wrapper {
        width: 100%;
        margin-top: 2rem;
    }

</style>
{% endblock %}
{% block body %}
<!-- Header -->
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Billing</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header border-0" id="lead-import-card">
                <div class="row align-items-center">
                    <div class="col">
                        <h3 class="mb-0">Wallet</h3>
                        <hr>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row justify-content-center text-center">
                        <select class="form-control" id="company-body">
                            <option value="none">Please Select a Company</option>
                            {% for company in companies %}
                                <option value="{{company.id}}">{{ company.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="row justify-content-center text-center mt-4" id="twilio-summary-body" style="display: none;">
                        <div class="col-12">Current Balance</div>
                        <div class="col-12">
                            <h1 class="text-danger display-1">$[[ formatMoney(total,3) ]]</h1>
                        </div>
                    </div>
                    <div id="twilio-transaction-loading" style="display: none;">
                        <center>
                            <img src="/static/img/spinner.svg" width="100px">
                            <i>Billing</i>
                        </center>
                    </div>
                    <div class="row justify-content-center text-center mt-4" id="twilio-transaction-body" style="display: none;">
                        <div class="row col-12 d-none">
                            <div class="col-3">
                                <label for="from-date" style="float: left;">From:</label>
                                <input class="form-control" id="from-date" name="from-date" type="date">
                            </div>
                            <div class="col-3">
                                <label for="to-date" style="float: left;">To:</label>
                                <input class="form-control" id="to-date" name="to-date" type="date">
                            </div>
                            <div class="col-3">
                                <label for="tran-type" style="float: left;">Type:</label>
                                <select class="form-control" id="tran-type">
                                    <option value="none">All</option>
                                    <option value="charged">Charged</option>
                                    <option value="paid">Paid</option>
                                    <option value="voided">Voided</option>
                                </select>
                            </div>
                            <div class="col-3">
                                <label>&nbsp;</label><br>
                                <a href="#" class="btn btn-primary" id="wallet-filter-report">Submit</a>
                            </div>
                        </div>
                        <table class="table align-items-center table-flush mt-4" id="wallet-transaction-table">
                            <thead>
                                <th>From</th>
                                <th>To</th>
                                <th>Amount</th>
                                <th>Duration</th>
                                <th>status</th>
                                <th>Direction</th>
                                <th>Created_At</th>
                            </thead>
                            <tbody>
                                <tr v-for="transaction in transactions">
                                    <td>[[ transaction.from ]]</td>
                                    <td>[[ transaction.to_formatted ]]</td>
                                    <td>$[[ formatMoney(transaction.price, 3) ]]</td>
                                    <td><i class="fa fa-stopwatch"></i> [[ transaction.duration ]] S</td>
                                    <td>[[ transaction.status ]]</td>
                                    <td>[[ transaction.direction ]]</td>
                                    <td>[[ formatDateTime(transaction.created_at) ]]</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="static/vendor/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="static/vendor/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="static/vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="static/vendor/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="static/vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="static/vendor/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="static/vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="static/vendor/datatables.net-select/js/dataTables.select.min.js"></script>
<script src="static/js/vueJS/companies.js?v=1.3.11.1"></script>
<script src="static/js/vueJS/twiliobilling.js?v=1.3.11.1"></script>
{% endblock %}