<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="PureTalk Dashboard">
  <meta name="author" content="Creative Tim">
  <title>{{ companyName }} - {{ pageTitle }}</title>
  <!-- Favicon -->
  <link rel="icon" type="image/png" sizes="32x32" href="static/img/favicon.png">
  <!-- Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
  <!-- Icons -->
  <link rel="stylesheet" href="static/vendor/nucleo/css/nucleo.css" type="text/css">
  <link rel="stylesheet" href="static/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
  <!-- Page plugins -->
  <!-- Argon CSS -->
  <link rel="stylesheet" href="static/css/argon.min.css?v=1.3.11.2" type="text/css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
  
  <link rel="stylesheet" href="static/css/base.css?v=1.3.11.2" type="text/css">

  <style>
        .company-row{
        margin-top: 1.7em;
        }
        .company-row:first-child{
            margin-top: 0em;
        }
  </style>
    
  {% block headScripts %}{% endblock %}
</head>

<body>
  <!-- Main content -->
  <div class="main-content" id="panel">
    <!-- Topnav -->
    <nav class="navbar navbar-top navbar-expand navbar-light bg-white border-bottom">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          
          <div class="sidenav-toggler d-sm-block d-md-none" data-action="sidenav-unpin" data-target="#sidenav-main">
            <div class="sidenav-toggler-inner">
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
            </div>
          </div>
          <!-- Navbar links -->
          <ul class="navbar-nav align-items-center ml-md-auto ">
          </ul>
          <ul class="navbar-nav align-items-center  ml-auto ml-md-0 ">
            <li class="nav-item dropdown">
              <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="media align-items-center">
                  <div class="media-body  ml-2  d-none d-lg-block">
                  </div>
                </div>
              </a>
              <div class="dropdown-menu  dropdown-menu-right ">
                <a href="/logout" class="dropdown-item">
                  <i class="ni ni-user-run"></i>
                  <span>Logout</span>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="row justify-content-center mt-4">
        <div class="card col-lg-4 col-sm-10 mt-4">
            <div class="card-header">
                <h2 style="text-align: center;">Please create a password</h2>
            </div>
            <div class="card-body" id="user-invite-body">
                <form action="/user-sign-up" method="POST">
                    <label>Email</label>
                    <input class="form-control" id="invite-email" value="{{email}}" disabled>
                    <label class="mt-4">Password</label>
                    <input class="form-control" id="password" name="password" type="password">
                    <input type="submit" class="btn btn-success mt-4" value="Sign Up">
                </form>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer class="footer pt-0 d-none">
    <div class="row align-items-center justify-content-lg-between">
        <div class="col-lg-6">
        <div class="copyright text-center  text-lg-left  text-muted">
            &copy; 2020 <a href="https://www.creative-tim.com" class="font-weight-bold ml-1" target="_blank">Creative Tim</a>
        </div>
        </div>
        <div class="col-lg-6">
        <ul class="nav nav-footer justify-content-center justify-content-lg-end">
            <li class="nav-item">
            <a href="https://www.creative-tim.com" class="nav-link" target="_blank">Creative Tim</a>
            </li>
            <li class="nav-item">
            <a href="https://www.creative-tim.com/presentation" class="nav-link" target="_blank">About Us</a>
            </li>
            <li class="nav-item">
            <a href="http://blog.creative-tim.com" class="nav-link" target="_blank">Blog</a>
            </li>
            <li class="nav-item">
            <a href="https://github.com/creativetimofficial/argon-dashboard/blob/master/LICENSE.md" class="nav-link" target="_blank">MIT License</a>
            </li>
        </ul>
        </div>
    </div>
    </footer>
    </div>
</div>
<div class="row col-12 justify-content-end mt-2" style="position: fixed; top: 0px;">
  <div class="col-sm-10 col-md-4" id="alert-holder" style="display: none;">
    <div v-for="alert in alerts">
      <div v-if="alert.status == 'danger'" class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
          <span class="alert-icon"><i class="ni ni-air-baloon"></i></span>
          <span class="alert-text"><strong>Failure!</strong> [[ alert.message ]]</span>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div v-else class="alert alert-success alert-dismissible fade show mt-2" role="alert">
          <span class="alert-icon"><i class="ni ni-check-bold"></i></span>
          <span class="alert-text"><strong>Success!</strong> [[ alert.message ]]</span>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
    </div>
  </div>
</div>
<!-- Argon Scripts -->
<!-- Core -->
<script src="static/vendor/jquery/dist/jquery.min.js"></script>
<script src="static/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="static/vendor/js-cookie/js.cookie.js"></script>
<script src="static/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
<script src="static/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
<!-- Optional JS -->
<script src="static/vendor/chart.js/dist/Chart.min.js"></script>
<script src="static/vendor/chart.js/dist/Chart.extension.js"></script>
<!-- Argon JS -->
<script src="static/js/argon.js?v=1.3.11.2"></script>
<script src="static/js/base.js?v=1.3.11.2"></script>
<script src="static/js/sidebar.js?v=1.3.11.2"></script>
{% block scripts %}{% endblock %}
</body>

</html>